{% extends "platform/views/templates/base.html" %}
{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="selected"><i class="fa fa-users"></i> Turmas</li>
      </ol>

      <p><a class="fa fa-plus btn btn-primary btn" href="{{context}}/nova/turma">  Nova Turma</a></p>

      <h2 class="page-header text-center">Minhas turmas</h2>

      <div class="table-responsive">
          <table class="table table-hover table-striped tablesorter">
            <thead>
              <tr>
                <th>Nome <i class="fa fa-sort"></i></th>
                <th>Alunos <i class="fa fa-sort"></i></th>
                <th>Aulas <i class="fa fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Primeiro Ano B / 2014</td>
              <td>20</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Primeiro Ano A / 2014</td>
              <td>15</td>
              <td>22</td>
            </tr>
            <tr>
              <td>Pré I / 2013</td>
              <td>10</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Segundo Ano A / 2013</td>
              <td>30</td>
              <td>89</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.row -->

{% endblock %}

{% block footer-js %}

  <script src="js/tablesorter/jquery.tablesorter.js" type="text/javascript"></script>
  <script src="js/tablesorter/tables.js" type="text/javascript"></script>

{% endblock %}