{% extends "platform/views/templates/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li class="selected"><i class="fa fa-bar-chart-o"></i> Acompanhamento</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Seja bem vindo a plataforma de aprendizado <a class="alert-link" href="http://www.geduca.org">Geduca.org</a>. Estamos felizes com a sua escolha e esperamos que você e seus alunos possam aprender ainda mais :)
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
        </div><!-- /.row -->

{% endblock %}