
{% extends "platform/views/templates/base.html" %}

{% block content %}

  <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="{{servlet-context}}/lessons"><i class="fa fa-tasks"></i> Aulas</a></li>
          <li class="{{new-lesson-selected}}"><i class="fa fa-file"></i> Nova Aula</li>
        </ol>
     

        <h2 class="page-header text-center">Criando sua aula</h2>

        <div id="rootwizard">

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container text-center">
                  <ul>
                    <li><a href="#tab1" data-toggle="tab"> Passo 1 </a></li>
                    <li><a href="#tab2" data-toggle="tab"> Passo 2 </a></li>
                    <li><a href="#tab3" data-toggle="tab"> Passo 3 </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="tab-content">

                <div class="tab-pane" id="tab1">
                    <h3 class="page-header text-left">Atividades</h3>
                    <div class="gridly">
                      <div class="brick small"></div>
                      <div class="brick large"></div>
                      <div class="brick small"></div>
                      <div class="brick large"></div>
                    </div>
                </div>

                <div class="tab-pane" id="tab2">
                    <h3 class="page-header text-left">Configurações</h3>
                   
                   <p>
                   - Exibir único de acesso a aula
                   - Categorizar como aula pública / privada
                      - se privada: Escolher quais turmas terão acesso (enviar código da aula para os alunos da turma), aparecerá para os demais professores, porém não conseguirão acessá-la.
                   - data limite de acesso (não obrigatório)
                   </p>
                </div>

                <div class="tab-pane" id="tab3">
                    <h3 class="page-header text-left">Publicação</h3>
                   - Publicar
                </div>

                <ul class="pager wizard">
                  <li class="previous first" style="display:none;"><a href="#">Primeiro</a></li>
                  <li class="previous"><a href="#">Anterior</a></li>
                  <li class="next last" style="display:none;"><a href="#">Último</a></li>
                  <li class="next"><a href="#">Próximo</a></li>
                </ul>
            </div>  
        </div>
      </div>

  </div><!-- /.row  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>-->

{% endblock %}


{% block footer-js %}

  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" type="text/javascript"></script>
  <script src="js/jquery.bootstrap.wizard.min.js"></script>
  <script src="js/jquery.gridly.js" type="text/javascript"></script>

  <script type="text/javascript">
    
    $(document).ready(function() {

        $('#rootwizard').bootstrapWizard({onNext: function(tab, navigation, index) {
          if(index==2) {
            // Make sure we entered the name
            if(!$('#name').val()) {
              alert('You must enter your name');
              $('#name').focus();
              return false;
            }
          }
          
          // Set the name for the next tab
          $('#tab3').html('Hello, ' + $('#name').val());
          
        }, onTabShow: function(tab, navigation, index) {
          var $total = navigation.find('li').length;
          var $current = index+1;
          var $percent = ($current/$total) * 100;
          $('#rootwizard').find('.progress-bar').css({width:$percent+'%'});
        }});

        $('.gridly').gridly({
          base: 60, // px 
          gutter: 20, // px
          columns: 12
        });
    });

  </script>
{% endblock %}
