
{% extends "platform/views/templates/base.html" %}

{% block header-css %}

  <link href="css/jquery.gridly.css" rel="stylesheet" type="text/css" />


{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="{{servlet-context}}/lessons"><i class="fa fa-tasks"></i> Aulas</a></li>
          <li class="{{new-lesson-selected}}"><i class="fa fa-file"></i> Nova Aula</li>
        </ol>
     

        <h2 class="page-header text-center">Criando sua aula</h2>

        <div id="rootwizard">

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container text-center">
                  <ul>
                    <li><a href="#tab1" data-toggle="tab" class="btn btn-lg"> Passo 1 </a></li>
                    <li><a href="#tab2" data-toggle="tab" class="btn btn-lg"> Passo 2 </a></li>
                    <li><a href="#tab3" data-toggle="tab" class="btn btn-lg"> Passo 3 </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="tab-content">

                <div class="tab-pane" id="tab1">
                    <h3 class="page-header text-left">Atividades</h3>
                   
                    <div class="col-lg-12">
                      <a class="add button fa fa-plus" href="#"> Nova Atividade</a>
                      <div class="gridly" class="">
                        <div class="brick large">
                          <a class="delete fa fa-times fa-lg" href="#"></a>
                          <a class="activity" data-toggle="modal" href="#responsive">Escolha um modelo</a>
                       </div>
                      </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab2">
                    <h3 class="page-header text-left">Configurações</h3>
                   
                     <p>
                     - Exibir único de acesso a aula
                     - Categorizar como aula pública / privada
                        - se privada: Escolher quais turmas terão acesso (enviar código da aula para os alunos da turma), aparecerá para os demais professores, porém não conseguirão acessá-la.
                     - data limite de acesso (não obrigatório)
                     </p>
                </div>

                <div class="tab-pane" id="tab3">
                    <h3 class="page-header text-left">Publicação</h3>
                   - Publicar
                </div>

                <ul class="pager wizard">
                  <li class="previous first" style="display:none;"><a href="#">Primeiro</a></li>
                  <li class="previous"><a href="#">Anterior</a></li>
                  <li class="next last" style="display:none;"><a href="#">Último</a></li>
                  <li class="next"><a href="#">Próximo</a></li>
                </ul>
            </div>  
        </div>
      </div>

      <!-- Activity Modal Panel -->

      <div id="responsive" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Selecione um de nossos modelos de atividades :)</h4>
          </div>

          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                  <div class="list-group">
                    <a href="#" class="list-group-item active">Questões de Múltipla Escolha</a>
                    <a href="#" class="list-group-item">QueDiscursiva</a>
                    <a href="#" class="list-group-item">Relacione</a>
                    <a href="#" class="list-group-item">Vídeo</a>
                    <a href="#" class="list-group-item">Texto</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <div class="thumbnail">
                        <img src="img/multiple-choice.jpg"  alt="ActivitySample"> </img>
                        <div class="caption">
                          <h3>Thumbnail label</h3>
                          <p>breve descrição</p>
                          <p>
                          <a href="#" class="btn btn-primary" role="button">Selecionar</a></p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Fechar</a>
          </div>
      </div> <!-- /Activity Modal Panel -->

  </div><!-- /.row  -->

{% endblock %}


{% block footer-js %}
  
  <script src="js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
  <script src="js/jquery.gridly.js" type="text/javascript"></script>
  <script src="js/bootstrap-modalmanager.js" type="text/javascript"></script>
  <script src="js/bootstrap-modal.js" type="text/javascript"></script>

  <script type="text/javascript">
    
    $(document).ready(function() {

        $('#rootwizard').bootstrapWizard({

          onNext: function(tab, navigation, index) {
            //validation if needed
          }, 

          onTabShow: function(tab, navigation, index) {
         
            var $total = navigation.find('li').length;
            var $current = index+1;
            var $percent = ($current/$total) * 100;
            $('#rootwizard').find('.progress-bar').css({width:$percent+'%'});
          }
        });

        $('.gridly').gridly();

        $(".activity").click(function(){
            $("#activityModal").modal('show');
        });
    });

  </script>

{% endblock %}
