{% extends "platform/views/templates/enter-form.html" %}

{% block content %}

<form action="{{context}}/register" method="POST">
   <fieldset>
      <div class="form-group">
          <input class="form-control" placeholder="E-mail" name="email" type="email">
          {% if email-error %}
            <div class="alert alert-danger">{{email-error}}</div>
          {% endif %}
      </div>
      <div class="form-group">
          <input class="form-control" placeholder="Senha" name="password" type="password">
          {% if password-error %}
            <div class="alert alert-danger">{{password-error}}</div>
          {% endif %}
      </div>
      <div class="form-group">
          <input class="form-control" placeholder="Confirmar senha" name="passwordc" type="password">
           {% if passwordc-error %}
            <div class="alert alert-danger">{{passwordc-error}}</div>
          {% endif %}
      </div>

      <input class="btn btn-lg btn-success btn-block" type="submit" value="Registrar"/>
      <p>
       Já possui uma conta? <a href="{{context}}/login">Faça o seu login!</a>
      </p>
    </fieldset>
</form>

{% endblock %}

