{% extends "platform/views/templates/base.html" %}

{% block header-css %}

{% endblock %}

{% block content %}

  <div class="row">

        <h2 class="page-header text-center">{{title}}</h2>

        <form action="{{servlet-context}}/upload" class="form" method="POST" enctype="multipart/form-data" >
          {% if error %}
            <p class="error">{{error}}</p>
          {% endif %}
          {% if image %}
            <img src={{image}} width="300" height="300"/>
          {% endif %}
            <input id="file" name="file" type="file" />
            <input type="submit" value="Carregar" />
          </form>

          <h3 class="page-footer"></h3>
          <div class="row">
            <div class="col-md-3 col-md-offset-6 text-right">
              <input class="btn btn-lg btn-success btn-block" type="submit" value="{{btn_done}}" action="{{servlet-context}}/{{previous}}"/>
            </div>
          </div>
        </form> 

  </div><!-- /.row  -->

{% endblock %}


{% block footer-js %}

  
{% endblock %}
