
<div id="modal-upload" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">Selecione uma imagem</h4>
    </div>

    <div class="modal-body">
      <div class="row">
        {% if msg %}
          <div class="alert alert-success alert-dismissable">
              {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        {% endif %}

         <form action="{{context}}/upload" enctype="multipart/form-data" method="POST">
          <div class="thumbnail">
            <input id="file" name="file" type="file" data-filename-placement="inside"/>
          </div>
          <input class="btn btn-lg btn-success btn-block" type="submit" value="Upload"/>
        </form>
      </div><!-- /.row  -->
    </div> <!-- /.modal=body  -->

    <div class="modal-footer text-right">
      <div class="col-md-6">
         <a href="#" data-dismiss="modal" class="btn">Feito</a>
      </div>
    </div>

</div> 
