{% extends "platform/views/templates/base.html" %}
{% block content %}

    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="selected"><i class="fa fa-tasks"></i> Aulas</li>
        </ol>
      
        <p><a class="fa fa-plus btn btn-primary btn" href="{{servlet-context}}/lessons/new">  Nova Aula</a></p>

        <h2 class="page-header text-center">Minhas aulas</h2>

        <div class="table-responsive">
            <table class="table table-hover table-striped tablesorter">
              <thead>
                <tr>
                  <th>Nome <i class="fa fa-sort"></i></th>
                  <th>Visualizações <i class="fa fa-sort"></i></th>
                  <th>Compartilhamentos <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ordedando o alfabeto</td>
                  <td>1265</td>
                  <td>322</td>
                </tr>
                <tr>
                  <td>Atitudes Certas & Erradas</td>
                  <td>261</td>
                  <td>33</td>
                </tr>
                <tr>
                  <td>Poluição</td>
                  <td>665</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>Matemática para o Primeiro Ano - Pt I</td>
                  <td>9516</td>
                  <td>893</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
     </div><!-- /.row -->
{% endblock %}

{% block footer-js %}

  <script src="js/tablesorter/jquery.tablesorter.js" type="text/javascript"></script>
  <script src="js/tablesorter/tables.js" type="text/javascript"></script>

{% endblock %}