{% extends "platform/views/templates/base.html" %}

{% block header-css %}

 {% style "/css/jquery.gridly.css" %}

{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="{{servlet-context}}/lessons"><i class="fa fa-tasks"></i> Aulas</a></li>
          <li class="selected"><i class="fa fa-file"></i> Nova Aula</li>
        </ol>
     
        <h2 class="page-header text-center">Criando sua aula</h2>

        <div id="rootwizard">

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container text-center">
                  <ul>
                    <li><a href="#tab1" data-toggle="tab" class="btn btn-lg"> Passo 1 </a></li>
                    <li><a href="#tab2" data-toggle="tab" class="btn btn-lg"> Passo 2 </a></li>
                    <li><a href="#tab3" data-toggle="tab" class="btn btn-lg"> Passo 3 </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="tab-content">

                <div class="tab-pane" id="tab1">
                    <h3 class="page-header text-left">Atividades</h3>
                   
                    <div class="col-lg-12 text-center">
                      <a class="btn btn-primary fa fa-plus" data-toggle="modal" href="#select-activity"> Nova Atividade</a>
                      <div class="gridly">
                      </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab2">
                    <h3 class="page-header text-left">Configurações</h3>
                   
                     <p>
                     - Exibir único de acesso a aula
                     - Categorizar como aula pública / privada
                        - se privada: Escolher quais turmas terão acesso (enviar código da aula para os alunos da turma), aparecerá para os demais professores, porém não conseguirão acessá-la.
                     - data limite de acesso (não obrigatório)
                     </p>
                </div>

                <div class="tab-pane" id="tab3">
                    <h3 class="page-header text-left">Publicação</h3>
                   - Publicar
                </div>

                <ul class="pager wizard">
                  <li class="previous first" style="display:none;"><a href="#">Primeiro</a></li>
                  <li class="previous"><a href="#">Anterior</a></li>
                  <li class="next last" style="display:none;"><a href="#">Último</a></li>
                  <li class="next"><a href="#">Próximo</a></li>
                </ul>
            </div>  
        </div>
      </div>

      <div id="select-activity" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Selecione modelo de atividade</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="list-group">
                  <a href="#tumb1" data-toggle="tab" class="list-group-item active">1. Certo / Errado</a>
                  <a href="#tumb2" data-toggle="tab" class="list-group-item">2. Julgando Imagens </a>
                  <!-- 
                  <a href="#tumb3" data-toggle="tab" class="list-group-item">3. Discursivas</a>
                  <a href="#tumb4" data-toggle="tab" class="list-group-item">4. Relacionando Itens</a>
                  <a href="#tumb5" data-toggle="tab" class="list-group-item">5. Leitura de Textos</a>
                  <a href="#tumb6" data-toggle="tab" class="list-group-item">6. Produção de Textos</a>
                  <a href="#tumb7" data-toggle="tab" class="list-group-item">7. Produção de Diálogos</a>
                  <a href="#tumb8" data-toggle="tab" class="list-group-item">8. Apresentações em Slides</a>
                  <a href="#tumb9" data-toggle="tab" class="list-group-item">9. Vídeo</a> 
                  -->
                </div>
              </div>
              <div class="col-md-6">
                  <div class="tab-content">

                    <div class="tab-pane active" id="tumb1">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 1</h3>
                          <p class="small">Envolve questões elaboradas com apenas duas alternativas: certo ou errado. Fica a critério do tutor indicar a resposta correta no momento da criação do questionário. </p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="right-wrong" alt="Certo / Errado">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb2">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" alt="300x220"> </img>
                        <div class="caption">
                          <h3>Modelo 2</h3>
                          <p class="small">
                           Julgamento do conteúdo apresentado nas imagens. Fica a critério do tutor indicar a resposta correta no momento da criação do questionário.
                          </p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="judge-image" alt="Julgando Imagens">Selecionar</a></p>
                        </div>
                      </div>
                    </div>
                
                    <div class="tab-pane" id="tumb3">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 3</h3>
                          <p class="small">Na questão discursiva, também conhecida como pergunta aberta ou dissertativa, é necessário que o aluno discurse sobre o que for perguntado. É válido lembrar que a correção nesse caso deverá ser realizada pelo próprio professor.</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="open-question" alt="Questão Discursiva">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb4">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 4</h3>
                          <p class="small">Indisponível no momento</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="none">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb5">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 5</h3>
                          <p class="small">Indisponível no momento</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="none">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb6">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 6</h3>
                          <p class="small">Indisponível no momento</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="none">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb7">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 7</h3>
                          <p class="small">Indisponível no momento</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="none">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb8">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 8</h3>
                          <p class="small">Indisponível no momento</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="none">Selecionar</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tumb9">
                      <div class="thumbnail">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4="  alt="300x220" > </img>
                        <div class="caption">
                          <h3>Modelo 9</h3>
                          <p class="small">Indisponível no momento</p>
                          <p><a href="#" data-dismiss="modal" class="add btn btn-primary" role="button" id="none">Selecionar</a></p>
                        </div>
                      </div>
                    </div>
                  </div> <!-- tab-content activity -->
              </div> <!-- col-md-6 -->
            </div> <!-- row -->
          </div> <!-- modal body -->

          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Fechar</a>
          </div>
      </div> <!-- / Activity Modal Panel -->

      <div id="modal-right-wrong" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Atividade: Certo / Errado</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="quiz" id="quiz">
                </div>
              </div>
            </div><!-- /.row  -->
          </div> <!-- /.modal=body  -->

          <div class="modal-footer text-right">
            <div class="col-md-6 text-left">
                <a href="#" class="add-right-wrong-box btn btn-primary fa fa-plus" role="button"> Nova questão</a>
            </div>
            <div class="col-md-6">
               <a href="#" data-dismiss="modal" class="btn">Fechar</a>
            </div>
          </div>
       </div> <!-- / end Right or Wrong Modal Panel -->

      <div id="modal-multiple-choice" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Atividade: Múltipla Escolha</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="quiz">
                  <div class="question">
                    <div class="col-md-1 number">
                      1
                    </div>
                    <textarea class="col-md-10 question text">
                    </textarea>
                  </div>
                  <div class="answer">
                    <div class="col-md-2 option">
                      <label class="btn option">
                        <input type="radio" name="mode" id="option1"> A
                      </label>
                    </div>
                    <textarea class="col-md-9 answer text">
                    </textarea>
                  </div>
                </div>
              </div>
            </div><!-- /.row  -->
          </div> <!-- /.modal=body  -->

          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Fechar</a>
          </div>
       </div> <!-- / Create Multiple Choice Modal Panel -->

       <div id="modal-open-question" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Atividade: Questão Aberta</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                
              
              </div>
            </div><!-- /.row  -->
          </div> <!-- /.modal=body  -->

          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Fechar</a>
          </div>
       </div> <!-- / Create Multiple Choice Modal Panel -->

  </div><!-- /.row  -->

{% endblock %}


{% block footer-js %}
  
 {% script "/js/jquery.bootstrap.wizard.min.js" %}
 {% script "/js/jquery.gridly.js" %}
 {% script "/js/bootstrap-modalmanager.js" %}
 {% script "/js/bootstrap-modal.js" %}

  <script type="text/javascript">
    
    $(document).ready(function() {

        $('#rootwizard').bootstrapWizard({

          onNext: function(tab, navigation, index) {
            //validation if needed
          }, 

          onTabShow: function(tab, navigation, index) {
         
            var $total = navigation.find('li').length;
            var $current = index+1;
            var $percent = ($current/$total) * 100;
            $('#rootwizard').find('.progress-bar').css({width:$percent+'%'});
          }
        });

        $('.gridly').gridly();

        $(".activity").click(function(){
            $("#activityModal").modal('show');
        });
    });

  </script>

{% endblock %}
