{% extends "platform/views/templates/base.html" %}

{% block header-css %}

{% endblock %}

{% block content %}

  <div class="row">

        <ol class="breadcrumb">
          <li><a href="{{context}}/aulas"><i class="fa fa-tasks"></i> {{bc_lessons}}</a></li>
          <li><a href="{{context}}/nova/aula"><i class="fa fa-file"></i> {{bc_new_lesson}}</a></li>
          <li class="selected"><i class="fa fa-file"></i> {{bc_new_act}}</li>
        </ol>

        <div class="col-lg-offset-3 col-lg-6">
          <input class="form-control activity-title" placeholder="{{title}}" name="activiy-name" type="name">
        </div>
         
        <form action="{{context}}/nova-atividade" method="POST">
          <div class="quiz judge-image quiz judge-image col-lg-12 text-center" id="quiz">
            {% for pic in pictures %}
              <div class="thumbnail col-lg-3">

                <a class="fa fa-times closable" href="#"></a>

                <br />
                <a href="{{context}}/img/{{pic.userid}}/{{pic.name}}">
                  <img src="{{context}}/img/{{pic.userid}}/{{thumb-prefix}}{{pic.name}}"/>
                </a>
             
                <br />

                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                      <input type="radio" name="answer" value="Certa">Certo
                  </label>
                  <label class="btn btn-default">
                      <input type="radio" name="answer" value="Errada">Errado
                  </label>
                </div>

              </div>
            {% endfor %}
          </div>

          <h3 class="page-footer"></h3>

          <div class="row">
            <div class="col-md-3 text-left">
               <input class="btn btn-lg btn-block btn-primary fa fa-plus" data-toggle="modal" type="button" href="#modal-upload" value="{{lbl_upload_image}}"/>
            </div>
            <div class="col-md-3 col-md-offset-6 text-right">
              <input class="btn btn-lg btn-success btn-block" type="submit" value="{{btn_done}}"/>
            </div>
          </div>
        </form>
  
        <div id="modal-upload" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760" style="display: none;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Selecione uma imagem </h4>
            </div>

            <div class="modal-body">
              <div class="row">
                {% if msg %}
                  <div class="alert alert-success alert-dismissable">
                      {{msg}}
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  </div>
                {% endif %}

                <img id="loader" style="display:none" src="http://www.bba-reman.com/images/fbloader.gif" alt="Loading..." />

                <div id="preview" class="thumbnail col-lg-5" style="display:none"> </div>

                <form id="form-upload" enctype="multipart/form-data" method="POST">
                    <input id="file" name="file" type="file" accept="image/*" data-filename-placement="inside"/>
                    <div class="col-lg-4 ">
                    <input id="button" class="btn btn-lg btn-primary btn-block" type="submit" value="{{btn_upload}}"/>
                    </div>
                </form>
              </div><!-- /.row  -->
            </div> <!-- /.modal=body  -->

            <div class="modal-footer text-right">
              <div class="col-md-6">
                 <a href="#" data-dismiss="modal" class="btn btn-lg btn-success btn-block">Feito</a>
              </div>
            </div>
        </div> 
    </div><!-- /.row  -->
{% endblock %}


{% block footer-js %}

<script type="text/javascript">

    var files;
     
    $('input[type=file]').on('change', prepareUpload);
     
    function prepareUpload(event) {
      files = event.target.files;
    }

    $('#form-upload').on('submit', uploadFiles);

    function uploadFiles(event) {
        event.stopPropagation(); 
        event.preventDefault();

        var data = new FormData();
        $.each(files, function(key, value) {
          data.append(key, value);
        });
        
        $.ajax({
            url: '{{context}}/upload',
            type: 'POST',
            data: data,
            cache: false,
            dataType: 'multipart/form-data',
            processData: false,
            contentType: true, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR) {
              
              console.log('result: ' + data + ' - ' + textStatus + ' - ' + jqXHR);

              if (typeof data.error === 'undefined') {
                // Success so call function to process the form
                submitForm(event, data);
              } else {
                // Handle errors here
                console.log('ERRORS: ' + data.error);
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              // Handle errors here
              console.log('ERRORS: ' + textStatus);
              // STOP LOADING SPINNER
            }
        });
    }

</script>


{% endblock %}
