{% extends "platform/views/templates/base.html" %}

{% block header-css %}

{% endblock %}

{% block content %}

  <div class="row">

        <ol class="breadcrumb">
          <li><a href="{{context}}/aulas"><i class="fa fa-tasks"></i> {{bc_lessons}}</a></li>
          <li><a href="{{context}}/nova/aula"><i class="fa fa-file"></i> {{bc_new_lesson}}</a></li>
          <li class="selected"><i class="fa fa-file"></i> {{bc_new_act}}</li>
        </ol>

        <div class="col-lg-offset-3 col-lg-6">
          <input class="form-control activity-title" placeholder="{{title}}" name="activiy-name" type="name">
        </div>
         
        <form action="{{context}}/nova-atividade" method="POST">
          <div class="quiz judge-image quiz judge-image col-lg-12 text-center" id="quiz">
            {% for pic in pictures %}
              <div class="thumbnail col-lg-3">

                <a class="fa fa-times closable" href="#" id="{{pic.name}}"></a>

                <br />
                <a href="{{context}}/img/{{pic.userid}}/{{pic.name}}">
                  <img src="{{context}}/img/{{pic.userid}}/{{thumb-prefix}}{{pic.name}}"/>
                </a>
             
                <br />

                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                      <input type="radio" name="answer" value="Certa">Certo
                  </label>
                  <label class="btn btn-default">
                      <input type="radio" name="answer" value="Errada">Errado
                  </label>
                </div>

              </div>
            {% endfor %}
          </div>

          <h3 class="page-footer"></h3>

          <div class="row">
            <div class="col-md-3 text-left">
               <input class="btn btn-lg btn-block btn-primary fa fa-plus" data-toggle="modal" type="button" href="#modal-upload" value="{{lbl_upload_image}}"/>
            </div>
            <div class="col-md-3 col-md-offset-6 text-right">
              <input class="btn btn-lg btn-success btn-block" type="submit" value="{{btn_done}}"/>
            </div>
          </div>
        </form>
  
        <div id="modal-upload" class="modal fade" data-backdrop="static" tabindex="-1" data-width="390" style="display: none;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Selecione uma imagem </h4>
            </div>

            <div class="modal-body">
              <div class="row">
                <form id="form-upload" enctype="multipart/form-data" method="POST">
                    <div class="col-lg-12">
                      <div id="status" class="alert alert-dismissable" style="display:none;"> </div>
                        <input id="file" class="form-control" name="file" type="file" accept="image/*" data-filename-placement="inside"/>
                      <br />
                      <div class="col-lg-6">
                        <input id="button" class="btn btn-lg btn-primary btn-block" type="submit" value="{{btn_upload}}"/>
                      </div>
                      <div class="col-lg-6">
                        <a id="done" href="#" data-dismiss="modal" class="btn btn-lg btn-success btn-block">{{btn_fechar}}</a>
                      </div>
                    </div>
                </form>
              </div><!-- /.row  -->
            </div> <!-- /.modal=body  -->

        </div> 
    </div><!-- /.row  -->
{% endblock %}


{% block footer-js %}



<script type="text/javascript">

  $(document).ready(function() { 
      var options = { 
          target:        '#status',   
          success:       showSuccess,
          url:           '{{context}}/upload/img',        
          clearForm:      true,       
          resetForm:      true,   
          dataType:       'json'    
      }; 
   
      $('#form-upload').submit(function() { 
          $(this).ajaxSubmit(options); 
          return false; 
      }); 
  }); 
 
  function showSuccess(responseJson, statusText, xhr, $form)  { 
      var status = $('#status');

      status.empty();

      if (responseJson.code === "OK") {
        status.addClass('alert-success').removeClass('alert-danger');
      } else {
        status.addClass('alert-danger').removeClass('alert-success');
      }

      status.append(responseJson.msg);
      status.show();
  } 

  $('#done').click(function() { 
          $('#status').empty();
          $('#status').hide();
          location.reload();
          return true; 
  }); 

  $('.closable').click(function(event) { 
        event.preventDefault();
        event.stopPropagation();

        var filename = event.target.id;

        var jsonFile = JSON.stringify({'filename': filename});

        $.post(
              '{{context}}/remove/img/',
              {filename: filename},
              function (data, textStatus, jqXHR) {
                if (data.code === "OK") {
                  location.reload();
                } else {
                  console.log('errrrrroo');
                }
              },
              'json'
        );

        return true; 
  }); 

</script>


{% endblock %}
