{% extends "platform/views/templates/base.html" %}

{% block header-css %}

{% endblock %}

{% block content %}

  <div class="row">

        <ol class="breadcrumb">
          <li><a href="{{servlet-context}}/lessons"><i class="fa fa-tasks"></i> {{bc_lessons}}</a></li>
          <li><a href="{{servlet-context}}/lessons/new"><i class="fa fa-file"></i> {{bc_new_lesson}}</a></li>
          <li class="selected"><i class="fa fa-file"></i> {{bc_new_act}}</li>
        </ol>

        <h2 class="page-header text-center">{{title}}</h2>

        <p><a class="fa fa-plus btn btn-primary btn" href="{{servlet-context}}/upload">  Upload Image</a></p>

        <form action="{{servlet-context}}/activity/new" class="form" method="POST">
          <div class="quiz judge-image quiz judge-image col-lg-12 text-center" id="quiz">
              {% for pic in pictures %}
                <div class="thumbnail cropContainerHeader">
                  <a class={{pic.name}} href="{{servlet-context}}/img/{{pic.userid}}/{{pic.name}}">
                    <img src="{{servlet-context}}/img/{{pic.userid}}/{{thumb-prefix}}{{pic.name}}"/>
                    {% ifequal user page-owner %}
                      <input id="{{pic.name}}" name="{{pic.name}}" type="checkbox" value="true" />
                    {% endifequal %}
                  </a>
                </div>
                <div class="col-lg-3">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="answer" value="Certa">Certo
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="answer" value="Errada">Errado
                    </label>
                  </div>
                </div>
                {% endfor %}
                {% ifequal user page-owner %}
                    <input id="delete" type="submit" value="delete images" />
                {% endifequal %}
            </div>

            <div class="col-lg-12 box-footer-btn">
              <div class="col-md-3 text-left">
                <input class="add-right-wrong-box btn btn-lg btn-block btn-primary" type="button" value="{{btn_add}}" />
              </div>
              <div class="col-md-3 col-md-offset-6 text-right">
                <input class="btn btn-lg btn-success btn-block" type="submit" value="{{btn_done}}"/>
              </div>
            </div>
        </form>

  </div><!-- /.row  -->

{% endblock %}


{% block footer-js %}

<script type="text/javascript">

    $(document).ready(function() {
        $('.add-judge-image-box').click();
    });

</script>


{% endblock %}
