{% extends "platform/views/templates/base.html" %}

{% block header-css %}

{% endblock %}

{% block content %}

  <div class="row">

        <ol class="breadcrumb">
          <li><a href="{{context}}/aulas"><i class="fa fa-tasks"></i> {{bc_lessons}}</a></li>
          <li><a href="{{context}}/nova/aula"><i class="fa fa-file"></i> {{bc_new_lesson}}</a></li>
          <li class="selected"><i class="fa fa-file"></i> {{bc_new_act}}</li>
        </ol>
     
        <h2 class="page-header text-center">{{title}}</h2>

        <form action="{{context}}/nova/atividade" class="form" method="POST">
          <div class="quiz right-wrong" id="quiz">
          </div>
          
          <h3 class="page-footer"></h3>
          <div class="row">
            <div class="col-md-3 text-left">
              <input class="add-right-wrong-box btn btn-lg btn-block btn-primary" type="button" value="{{btn_add}}" />
            </div>
            <div class="col-md-3 col-md-offset-6 text-right">
              <input class="btn btn-lg btn-success btn-block" type="submit" value="{{btn_done}}"/>
            </div>
          </div>
        </form> 

  </div><!-- /.row  -->

{% endblock %}


{% block footer-js %}

<script type="text/javascript">
    
    $(document).ready(function() {

        $('.add-right-wrong-box').click();

    });

  </script>

  
{% endblock %}
