/* Global Styles */

body {
  margin-top: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #fff;
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

.side-nav>li.dropdown>ul.dropdown-menu {
position: relative;
min-width: 225px;
margin: 0;
padding: 0;
border: none;
border-radius: 0;
background-color: transparent;
box-shadow: none;
-webkit-box-shadow: none;
}

.side-nav>li.dropdown>ul.dropdown-menu>li>a {
color: #999999;
padding: 15px 15px 15px 25px;
}

.side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
.side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
.side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
color: #fff;
background-color: #080808;
}

.side-nav>li>a {
width: 225px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
background-color: #080808;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu {
min-width: 300px;
}

.messages-dropdown .dropdown-menu li a {
white-space: normal;
}

.navbar-collapse {
padding-left: 15px !important;
padding-right: 15px !important;
}

.thumbnail > img {
  border: none;
  background-color: #F5F3F3;
  height: 220px;
}

/* Breadcrumb */

.selected {
  color: #949090;
}

/* Box footer BTNs */

.box-footer-btn {
  margin-top: 40px;
}

/* General Quiz */

.quiz {
  width: 100%
}

/* Quiz Right-Wrong*/

.quiz .right-wrong .question {
  padding: 3px;
}

.quiz .right-wrong .answer {
  padding-left: 5px;
  padding-top: 20px
}

.quiz .right-wrong .question .text {
  color: #686868;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:1px dashed gray;
  font-size: large;
  color: #686868;
  padding-top: 15px;
  max-width:80%;
}

.quiz .right-wrong .question .text:active {
  color: #686868;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: large;
  color: #686868;
  padding-top: 15px;
  max-width:80%;
}

.quiz .right-wrong .question .number {
  color: #686868;
  text-align: center;
  font-size: large;
  padding-top: 15px;
}

.quiz .right-wrong .question .remove {
 display: inline-block;
 padding-top: 15px;
 text-align: center;
}

.quiz .right-wrong .answer .text {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:1px dashed gray;
  font-size: medium;
  max-width:75%;
}

.quiz .right-wrong .answer .text:active {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: medium;
  max-width:75%;
}

.quiz .right-wrong .answer .option {
  color: #686868;
  text-align: center;
  font-size: large;
  padding-top: 15px;
}

.quiz .right-wrong .box-question {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px dashed #eee;
  width: 100%;
}

/* /Right-Wrong */

/* Quiz Judge-Image */



